.newsList {
  display: flex;
  flex-direction: column;
}

.newsItem {
  list-style: none;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-primary);
  }

  &:nth-child(odd) {
    background-color: var(--surface-secondary);
  }

  &:nth-child(even) {
    background-color: var(--surface-primary);
  }

  &:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &:only-child {
    border-radius: 0.25rem;
  }
}

.errorContainer,
.placeholderContainer {
  max-width: 500px;
  margin: 0 auto;
}

.placeholder {
  text-align: center;
  font-size: 1.5rem;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
