.skeletonContainer {
  position: sticky;
  top: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: var(--color-secondary-200);
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.buttonSkeleton {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.imageSkeleton {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.25rem;
}

.sourceSkeleton {
  margin: 1rem 0;
  height: 2rem;
  width: 50%;
  border-radius: 0.25rem;
}

.authorSkeleton {
  margin: 1.25rem 0;
  height: 1.5rem;
  width: 70%;
  border-radius: 0.25rem;
}

.datetimeSkeleton {
  height: 1rem;
  width: 40%;
  border-radius: 0.25rem;
}

.titleSkeleton {
  margin: 0.9rem 0;
  height: 1.5rem;
  border-radius: 0.25rem;
}

.contentSkeleton {
  height: 7.5rem;
  border-radius: 0.25rem;
}

.urlSkeleton {
  margin-top: 1rem;
  height: 1rem;
  width: 60px;
  border-radius: 0.25rem;
}
