.input {
  background-color: var(--input-background);
  border: 1px solid var(--input-border);
  border-radius: 0.25rem;
  color: var(--input-text);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    border-color: var(--input-border-focus);
  }

  &:disabled {
    background-color: var(--disabled-background);
    border-color: var(--disabled-border);
    color: var(--disabled-text);
    cursor: not-allowed;
    user-select: none;
  }

  &_small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }

  &_medium {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
  }

  &_large {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
  }
}
