@use '@/styles/_mixins' as *;

.theme-toggler {
  border: none;
  background: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  transition: all 0.2s ease;
  cursor: pointer;

  @include hover {
    background-color: color-mix(
      in oklab,
      var(--color-light-300) 20%,
      transparent 80%
    );
  }
}
