@use '@/styles/_mixins' as *;

.header {
  background-color: var(--color-primary-500);
  border-bottom: 1px solid var(--color-primary-900);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  color: var(--color-light-300);
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: var(--color-light-300);
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }

  &Active {
    color: var(--color-secondary-300);
  }
}

.errorButton {
  width: 80px;
  text-align: center;
  top: 1rem;
  right: 1rem;
}
