@use '@/styles/_mixins' as *;

.header {
  background-color: var(--brand-primary);
  border-bottom: 1px solid var(--border-primary);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.heading {
  text-align: center;
  color: var(--color-light-300);
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink {
  color: var(--color-light-400);
  text-decoration: none;

  @include hover {
    text-decoration: underline;
  }

  &Active {
    color: var(--color-light-600);
  }
}

.invalidateCacheButton {
  width: 90px;
}

.errorButton {
  width: 80px;
  text-align: center;
}
