.skeleton {
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-color: var(--skeleton-primary);
  }
  50% {
    background-color: var(--skeleton-secondary);
  }
  100% {
    background-color: var(--skeleton-primary);
  }
}
