.skeleton {
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-color: var(--color-light-700);
  }
  50% {
    background-color: var(--color-light-900);
  }
  100% {
    background-color: var(--color-light-700);
  }
}
