.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-danger-900);
  color: var(--color-danger-700);
  background-color: var(--color-danger-100);
}

.errorHeading {
  font-weight: bold;
  font-size: 1.25rem;
}

.errorMessage {
  line-height: 1.25;
}
