.errorContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--danger-border);
  color: var(--danger-text);
  background-color: var(--danger-background);
}

.errorHeading {
  font-weight: bold;
  font-size: 1.25rem;
}

.errorMessage {
  line-height: 1.25;
}
