.footer {
  background-color: var(--brand-primary);

  & a {
    color: var(--color-light-300);
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.credits {
  color: var(--color-light-300);
}
