@use '@/styles/_mixins' as *;

.newsListSkeleton {
  display: flex;
  flex-direction: column;
}

.newsListItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  &:not(:last-child) {
    border-bottom: 1px solid var(--border-primary);
  }

  &:nth-child(odd) {
    background-color: var(--surface-secondary);
  }

  &:nth-child(even) {
    background-color: var(--surface-primary);
  }

  &:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
  }

  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &:only-child {
    border-radius: 0.25rem;
  }
}

.newsDateSkeleton {
  max-width: 180px;
  height: 1rem;
  border-radius: 0.25rem;
}

.newsTitleSkeleton {
  width: 70%;
  height: 1.5rem;
  border-radius: 0.25rem;

  @include media-tablet {
    height: 1.25rem;
  }
}

.newsDescriptionSkeleton {
  width: 100%;
  height: calc(1.25rem * 2 * 1.25);
  border-radius: 0.25rem;

  @include media-tablet {
    height: calc(1rem * 2 * 1.25);
  }
}

.newsSourceSkeleton {
  width: 85px;
  height: 1rem;
  border-radius: 0.25rem;
}
