.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 7rem;
  color: var(--text-tertiary);
}

.not-found {
  font-size: 2rem;
  color: var(--text-tertiary);
}

.description {
  color: var(--text-secondary);
}

.link {
  color: var(--color-success-700);
}

.description,
.link {
  font-size: 1.5rem;
}
